$super_light: rgb(248, 245, 244);
$light_shades: #EDEAE9;
$light_accent: #6A9F9E;
$main_color: #009432;
$dark_accent: #456169;
$dark_shades: #181E19;
$padding: 2em;
$font-logo: FugazOne;
$font-main: Roboto;

@font-face {
    font-family: 'FugazOne';
    src: url(./fonts/FugazOne-Regular.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

@mixin for-size($range) {
    $small-phone-upper-boundary: 310px;
    $phone-upper-boundary: 600px;
    $tablet-portrait-upper-boundary: 900px;
    $tablet-landscape-upper-boundary: 1200px;
    $desktop-upper-boundary: 1800px;
  
    @if $range == small-phone-only {
      @media (max-width: #{$small-phone-upper-boundary -1}) { @content; }
    } @else if $range == phone-only {
      @media (max-width: #{$phone-upper-boundary -1}) { @content; }
    } @else if $range == tablet-portrait-up {
      @media (min-width: $phone-upper-boundary) { @content; }
    } @else if $range == tablet-landscape-up {
      @media (min-width: $tablet-portrait-upper-boundary) { @content; }
    } @else if $range == desktop-up {
      @media (min-width: $tablet-landscape-upper-boundary) { @content; }
    } @else if $range == big-desktop-up {
      @media (min-width: $desktop-upper-boundary) { @content; }
    }
}

body{
    background-color: $dark_shades;
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4{
    font-family: $font-main;
    font-weight: 400;
}

p{
    font-family: $font-main;
    font-weight: 300;
}

span.docks {
    font-family: FugazOne;
}

.container {
    display: grid;
    grid-template: auto 1fr auto/repeat(12, 1fr);
    height: 100vh;

    .header {
        grid-column: 1 / -1;
        background: $super_light;
        grid-row: 1 / 2;

    // HEADING
    // Bouton

    .toggle-button {
        position: relative;
        display: inline-block;
        width: 2em;
        height: 2em;
        transition: 0.25s;
        z-index: 115;
        margin-top: .2em;

        @include for-size(tablet-landscape-up){
            display: none;
        }

    }
    .toggle-button:hover {
        cursor: pointer;
    }
    .toggle-button .menu-bar {
        position: absolute;
        border-radius: 2px;
        width: 80%;
        transition: .5s;
    }
        .toggle-button .menu-bar-top {
        border: .1em solid $dark_shades;
        border-bottom: none;
        top: 0;
    }
    .toggle-button .menu-bar-middle {
        height: .1em;
        background-color: $dark_shades;
        margin-top: 7px;
        margin-bottom: 7px;
        top: 4px;
    }
    .toggle-button .menu-bar-bottom {
        border: .1em solid $dark_shades;
        border-top: none;
        top: 22px;
    }
    .button-open .menu-bar-top {
        transform: rotate(45deg) translate(8px, 8px);
        transition: .5s;
    }
    .button-open .menu-bar-middle {
        transform: translate(230px);
        transition: .1s ease-in;
        opacity: 0;
    }
    .button-open .menu-bar-bottom {
        transform: rotate(-45deg) translate(8px, -7px);
        transition: .5s;
        
    }

    // wrap du menu
    .menu-wrap {
        background-color: $dark_accent;
        position: fixed;
        top: 0;
        height: 100%;
        width: 280px;
        margin-right: -280px;
        font-size: 1em;
        font-weight: 700;
        overflow: auto;
        transition: .25s;
        z-index: 110;
        right: 0;

        @include for-size(tablet-landscape-up){
            margin-right: 0;
            background-color: unset;
            position: absolute;
        }

        li > a {
            font-family: $font-main;
            padding-right: .5em;
        }
    }

    .menu-show {
        margin: 0;
        box-shadow: 4px 0px 13px $dark_shades;
        padding-top: 4em !important;

        li a {
            color: $light_shades !important;
        }
    }
        
        #navigation{
            background: $light_shades;
            padding: .5em 1em;
            display: flex;
            justify-content: space-between;
            
            @include for-size(tablet-landscape-up) {
                padding: .5em 2em;
            }
            
            ul {
                grid-column: 1/-1;
                margin-top: 0;
                display: flex;
                flex-flow: column nowrap;
                font-size: 1rem;
                padding: 1em;
                width: 200px;

                @include for-size(tablet-landscape-up){
                    flex-flow: row nowrap;
                    padding: 1em 2em 1em 2em;
                    height: auto;
                    width: auto;
                }
            }
            
            li{
                display: inline-block;
                margin-bottom: 1em;

                @include for-size(tablet-landscape-up){
                    // margin: 0 1em 0 0;
                }

                a{
                    text-decoration: none;
                    color: $dark_accent;
                    font-family: $font-main;
                    font-weight: 300;
                    
                }
                a:hover{
                    color: $dark_shades;
                    
                }

            }

            span#accueil > a{
                font-family: FugazOne;
                text-decoration: none;
                color: $dark_accent;
                font-size: 1.5em;

                @include for-size(tablet-landscape-up){
                    padding: 1em 0 0 0em;
                }
                
                @include for-size(desktop-up){
                    padding: 1em 0 0 0em;
                }
            }
        }
    }

    .presentation--titre {

        &:before {
            content: "";
            background-image: url("/images/warehouse-1500px.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            display: block;
            opacity: .8;
        }

        .presentation--contenu {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);

            #main--title{
                font-size: 4em;
                text-align: center;
                margin: 0;
                color: $light_shades;

                @include for-size(tablet-landscape-up){
                    
                }
                
                @include for-size(desktop-up){
                   
                }

                span.docks {
                    font-size: 13vw;
                    color: $light_shades;
                    
                    @include for-size(tablet-landscape-up){
                        font-size: 10vw;
                    }
                    
                    @include for-size(desktop-up){
                        font-size: 8vw;
                    }
                }

            }

            p {
                color: $super_light;
                text-align: center;
                margin: 0;
                font-size: 1.5em;
                background: #181E1980;
                padding: .2em .5em;

                @include for-size(small-phone-upper-boundary){
                    
                }

                @include for-size(tablet-landscape-up){
                    
                }
                
                @include for-size(desktop-up){
                   
                }
            }
        }
        
    }

    #scroll-animation {
        position: absolute;
        bottom: 5vh;
        right: 50%;
        transform: translateX(50%);
    }

    #scroll-animation::before {
        content: "";
        width: 2em;
        height: 2em;
        display: block;
        border: solid $light_shades .1em;
        border-radius: .5em;
    }

    #scroll-animation::after {
        content: "";
        width: .3em;
        height: .3em;
        display: block;
        background: $dark_shades;
        border-radius: 50%;
        position: absolute;
        // transform: translate(50%, -3em);
        right: 50%;
        animation-duration: 3s;
        animation-name: scrolling;
        animation-iteration-count: infinite;
    }

    @keyframes scrolling {
        from {
            transform: translate(50%, -2em);
        }
        
        to {
            transform: translate(50%, -.5em);
        }
    }

    .container--photos{
        height: 10em;
        background: $super_light;
        
        p {
            text-align: center;

        }
    }

    .presentation--docks{
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        padding: 6em $padding;
        background: $light_shades;

        @include for-size(tablet-landscape-up){
            padding: 6em 10em;
        }

        @include for-size(desktop-up){
            padding: 6em 20em;
        }

        .citation{
            max-width: 600px;
        }

        .button-primary{
            background: $light_accent;
            border: none;
            padding: 1em 2em;
            font-size: 1em;
            color: $light_shades;
            cursor: pointer;
            border-radius: .4em;
        
            &:hover{
                background-color: $dark_accent;
            }
        }

    }
    
    .contact{
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        padding: $padding;
        background: $light_shades;
    }
    
    .footer {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        padding: 0 1em;
        background: $dark_shades;

        @include for-size(tablet-landscape-up){
            padding: 0 5em;
        }
        
        @include for-size(desktop-up){
            padding: 0 10em;
        }

        #copyright{
            font-family: 'Inconsolata';
            text-align: right;
            color: $light_shades;
        }
    }
}